* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* border:1px solid red */
  /* background-color: rgb(121, 173, 216); */
}
body{
  background: linear-gradient(270deg, #12667e 0%, #005132 100%);

}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.head {
  margin: 0.5rem auto;
  color: #fff;
  font-size: 3rem;
  text-align: center;
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 60%; */
  min-width: 70vw;
  height: 90vh;
  margin: 1rem;
  gap: 1rem;
}
ul {
  list-style: none;
}
.list {
  display: flex;
  flex-direction: column;
  list-style: none;
  border-radius: 1rem;
  width: 85%;
  background: linear-gradient(90deg, #fdbb2d 0%, #22c1c3 100%);
  gap: 0.1rem;
position: relative;

}
.listitem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.1rem;
  margin: 0.5rem 0.5rem;
  outline: none;
  color: #fff;
  background: linear-gradient(90deg, #e9d2a2 0%, #94ecee 100%);
  border-radius: 0.5rem;
}
.listitem li {
  margin: 0.5rem;
  padding: 1rem;
  width: 60%;
  text-align: center;
  border: none;
  border-radius: 0.5rem;
  background-color: rgb(30, 119, 119);
  text-align: center;
}
.input {
  width: 100%;
  height: auto;
  border-radius: 0.1rem;
  border: none;
  border-radius: 0.5rem;
  text-align: center;
}
.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 1rem;
  /* border: 2px solid #5d0cff; */
  outline: none;
  width: 70%;
  background: linear-gradient(90deg, #dfc58f 0%, #58d6d8 100%);

  color: #fff;
}

.btn {
  padding: 10px;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  outline: none;
  color: white;
  text-transform: capitalize;
  font-weight: 600;
}
.btndelete{
  background: rgb(233, 69, 63);
  margin: 5px;
}
.btnadd{
  background: rgb(30, 119, 119);
}
.btnAll {
  width: 25%;
  text-align: center;
margin-right: 0.5rem;
margin-bottom: 0.5rem;
margin-left:auto;
display:block;
}
.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
font-size: larger;

}
